{{ define "map.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Amedee - Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include Leaflet CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css"
        crossorigin integrity="sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style>
    /* Set full width and height for the map */
    html, body, #mapid { height: 100%; margin: 0; }
  </style>
</head>

<body>
  <div class="filters">
    <input type="date" id="startDate" name="startDate" placeholder="Date of arrival">
    <input type="date" id="endDate" name="endDate" placeholder="Date of departure">
    <input type="number" id="numPeople" name="numPeople" placeholder="Number of people" min="1" step="1">
    <button id="filterButton">Filter Huts</button>
  </div>

  <!-- Element where the map will be attached -->
  <div id="mapid"></div>

  <!-- Include Leaflet and Leaflet.TileLayer.Swiss JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"
          crossorigin integrity="sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-tilelayer-swiss@2.4.0/dist/Leaflet.TileLayer.Swiss.umd.js"
          crossorigin integrity="sha384-Euk+jolNu4/WKjgaLQzvOYEpbiH0yAN0sErw27A95bn2MnIB1I52o9twSk23yZyL">
  </script>

  <script>
    // Create map and attach id to element with id "mapid"
    var map = L.map('mapid', {
      // Use LV95 (EPSG:2056) projection
      crs: L.CRS.EPSG2056,
    });

    // Add Swiss layer with default options
    L.tileLayer.swiss().addTo(map);

    // Center the map on Switzerland
    map.fitSwitzerland();

    var markerGroup = L.layerGroup().addTo(map);

    document.getElementById('filterButton').addEventListener('click', function() {
      const startDate = document.getElementById('startDate').value;
      const endDate = document.getElementById('endDate').value;
      const numPeople = document.getElementById('numPeople').value;

      fetch('/huts?' + new URLSearchParams({
        startDate: startDate,
        endDate: endDate,
        numPeople: numPeople
      }).toString())
      .then(response => response.json())
      .then(huts => {
        markerGroup.clearLayers();

        huts.forEach(hut => {
          if (hut.coordinates) {
            const parts = hut.coordinates.split(/[,/]+/).map(c => parseFloat(c.trim()));
            if (parts.length === 2 && !isNaN(parts[0]) && !isNaN(parts[1])) {
              const [lat, lon] = parts;
              const greenIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
              });
              const redIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
              });
              L.marker([lat, lon], {icon: hut.isAvailable ? greenIcon : redIcon}).bindPopup(hut.hutName).addTo(markerGroup);
            } else {
              console.error(`Invalid coordinates for hut ${hut.hutName}: ${hut.coordinates}`);
            }
          } else {
            console.error(`No coordinates for hut ${hut.hutName}`);
          }
        });
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
{{ end }}
