{{ define "map.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Amedee - Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include Leaflet CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css"
        crossorigin integrity="sha384-sHL9NAb7lN7rfvG5lfHpm643Xkcjzp4jFvuavGOndn6pjVqS6ny56CAt3nsEVT4H">

  <style>
    /* Set full width and height for the map */
    html, body, #mapid { height: 100%; margin: 0; }
  </style>
</head>

<body>
  <!-- Element where the map will be attached -->
  <div id="mapid"></div>

  <!-- Include Leaflet and Leaflet.TileLayer.Swiss JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"
          crossorigin integrity="sha384-cxOPjt7s7Iz04uaHJceBmS+qpjv2JkIHNVcuOrM+YHwZOmJGBXI00mdUXEq65HTH">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-tilelayer-swiss@2.4.0/dist/Leaflet.TileLayer.Swiss.umd.js"
          crossorigin integrity="sha384-Euk+jolNu4/WKjgaLQzvOYEpbiH0yAN0sErw27A95bn2MnIB1I52o9twSk23yZyL">
  </script>

  <script>
    // Create map and attach id to element with id "mapid"
    var map = L.map('mapid', {
      // Use LV95 (EPSG:2056) projection
      crs: L.CRS.EPSG2056,
    });

    // Add Swiss layer with default options
    L.tileLayer.swiss().addTo(map);

    // Center the map on Switzerland
    map.fitSwitzerland();

    fetch('/huts')
      .then(response => response.json())
      .then(huts => {
        huts.forEach(hut => {
          if (hut.coordinates) {
            const parts = hut.coordinates.split(/[,/]+/).map(c => parseFloat(c.trim()));
            if (parts.length === 2 && !isNaN(parts[0]) && !isNaN(parts[1])) {
              const [lat, lon] = parts;
              L.marker([lat, lon])
              .addTo(map)
              .bindPopup(hut.hutName);
            } else {
              console.error(`Invalid coordinates for hut ${hut.hutName}: ${hut.coordinates}`);
            }
          } else {
            console.error(`No coordinates for hut ${hut.hutName}`);
          }
        });
      });
  </script>
</body>
</html>
{{ end }}
